# https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
# ignore everything
*
# directory are okay
!/**/
# except anything without an extension
!*.*
# reinclude
!makefile

node_modules/
